* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #009f4d;
    --bg-color: #fff;
}

body,
html {
    font-family: "Jost", sans-serif;
}

.radius-image {
    border-radius: 8px;
}

.generic-paragraph {
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: 0.8;
}

.title > h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}
.title > h2 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

.title-bold-small a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    position: relative;
    text-decoration: none;
}

a.zoom img {
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* HEADER */

.header__wrap {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.267);
}

header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.navbar .navbar-brand .fa-solid {
    color: var(--primary-color);
    font-size: 30px;
    margin-right: 10px;
}

.navbar .navbar-brand span:first-child {
    font-weight: 800;
    font-size: 35px;
    vertical-align: center;
    color: white;
}

.navbar .navbar-brand .logo {
    font-size: 14px;
    padding-left: 65px;
    opacity: 0.9;
    text-transform: none;
    font-weight: 600;
    color: white;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
    text-transform: uppercase;
    font-weight: 800;
}

.navbar .navbar-collapse .navbar-nav .nav-item a {
    color: white;
}

.header__icon {
    display: flex;
}

.navbar .header__search i {
    font-size: 20px;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 50%;
    color: white;
}

.navbar .darkLight i {
    font-size: 25px;
    padding: 15px;
    color: white;
}

.fa-bars {
    color: white;
    background-color: var(--primary-color);
    padding: 5px;
    vertical-align: center;
    border-radius: 5px;
}

/* CAROUSEL */

.myCarousel {
    height: auto;
    position: relative;
    overflow: hidden;
}

.carousel__sliders {
    height: 100%;
}

.bg1 {
    background: url(/img/b1.jpg) no-repeat top;
    background-size: cover;
}

.bg2 {
    background: url(/img/b2.jpg) no-repeat top;
    background-size: cover;
}

.bg3 {
    background: url(/img/b3.jpg) no-repeat top;
    background-size: cover;
}

.bg4 {
    background: url(/img/b4.jpg) no-repeat top;
    background-size: cover;
}

.slick-initialized .carousel__slide {
    position: relative;
    min-height: 800px;
    padding-bottom: 100px;
    display: flex !important;
    align-items: center;
}

.carousel__sliders .slick-arrow {
    position: absolute;
    right: 25px;
    bottom: 50px;
    font-size: 0;
    background: var(--bg-color);
    border: 0;
    width: 50px;
    height: 50px;
    z-index: 12;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--border-color);
}

.carousel__sliders .slick-arrow:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-align: center;
    line-height: 46px;
    color: var(--heading-color);
}

.carousel__sliders .slick-arrow.slick-prev {
    right: 95px;
}

.carousel__sliders .slick-arrow.slick-prev:before {
    content: "\f060";
}

.carousel__sliders .slick-arrow.slick-next {
    right: 25px;
}

.carousel__sliders .slick-arrow.slick-next:before {
    content: "\f061";
}

.carousel__sliders .container {
    position: relative;
    z-index: 10;
    margin-top: 100px;
}

.carousel__slide .carousel__content {
    color: #fff;
}

.carousel__content p {
    font-size: 20px;
    max-width: 600;
    color: white;
    opacity: 0.9;
}

.carousel__content h2 {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 18px;
    max-width: 800px;
    line-height: 1.1;
}

.carousel__content .cta-btn {
    padding-top: 30px;
}

.cta-btn a {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 8px;
    font-weight: 800;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.cta-btn a:hover {
    background-color: #008030;
    border-color: #00732c;
    color: #fff;
}

.carousel__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 42, 55, 0.7);
    z-index: 1;
}

.shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.svg {
    overflow: hidden;
    vertical-align: center;
}

.shape path {
    fill: var(--bg-color);
}

.slick-arrow.slick-prev {
    right: 95px;
}

/* ABOUT US SECTION */

.checklist__link {
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 15px;
}

.checklist__link span {
    color: var(--primary-color);
}

.checklist__link a {
    text-decoration: none;
}
/* VISION  */

.vision {
    background-color: #f7f7f7;
    margin-top: 50px;
}

.vision__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

.vision__item {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgb(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: white;
}

.vision__item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    -webkit-transition: 0.3s ease;
}

.vision__item a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
    text-decoration: none;
}

.vision__item a:hover {
    color: #009f4d;
    transition: all 0.5s;
}

/* SERVICES */

.services__details a:first-of-type {
    padding: 12px 35px;
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    background: #fff;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.services__details a:nth-of-type(2) {
    font-size: 16px;
    padding: 16px;
    line-height: 28px;
    font-weight: 800;
    border-radius: 8px;
}

.services__details a:hover {
    color: #009f4d;
    transition: all 0.5s;
}

.services__details a:nth-of-type(2):hover {
    color: #009f4d;
    transition: all 0.5s;
}

/* GALLERY */
.myGallery {
    background-color: #f8f9fa;
}

.myGallery a.zoom {
    overflow: hidden;
    position: relative;
}

.myGallery a:hover img {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.gallery__content {
    color: white;
}

.gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(29, 42, 55, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
}

.gallary__content {
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 46px 50px;
    color: white;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s;
}

.project__title {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.project__description {
    font-size: 18px;
    color: #eee;
    display: block;
}

.myGallery a:hover .gallery__overlay {
    opacity: 1;
    visibility: visible;
}

.myGallery a:hover .gallary__content {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.brands__logo img {
    transform: scale(0.7);
}

.brands__logo {
    border-top: 1px solid #eee;
}

/* STATISTICS */
.statistics {
}

.statistics .progress-infor {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

.statistics .progress-bar {
    background-color: var(--primary-color);
    transition: width 0.6s ease;
}

.statistics .progress-bar.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.statistics .progress-bar-striped {
    height: 1px;

}

/* TESTIMONIAL */

.testimonial {
    background-color: #f8f9fa;
}


.testimonial__item {
    padding: 40px 30px;
    display: block;
    position: relative;
    border: none;
    max-width: 900px;
    margin: auto;
}

.testimonial__people {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    grid-gap: 20px;
}

.testimonial__item blockquote p {
    font-size: 18px;
    line-height: 28px;
    color:#666;
    opacity: .8;
}

.testimonial__people .testimonial__img {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial__people .testimonial__desc h3 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    color: #3f3a64;
}

.testimonial__people .testimonial__desc p {
    margin-bottom: 0;
    font-size: normal;
    opacity: 0.8;
}

.testimonial .owl-dot {
    border: none;
    background: transparent;
}

.testimonial .testimonial__content .owl-dot span:hover {
    transform: scale(1.5);
    background: #213364;
    opacity: 1;
}

.testimonial .testimonial__content .owl-dot.active span {
    transform: scale(1.5);
    background: #213364;
    opacity: 1;
}

/* BLOGS */
.news .card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0.25rem;
    box-shadow: 0 25px 98px 0 rgb(0,0,0,.04);
    border: 1px solid transparent;
}

.card .card__header img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card a {
    text-decoration: none;
}

.card__details .category {
    font-weight: 400;
    font-size: 17px;
    color: #999;
}

.blog-desc {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    margin-top: 10px;
}

a.blog-desc:hover  {
    color:#009f4d;
    transition: all .5s;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 1px solid #eee;
}

.card-footer ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.card-footer .card__author span.author__by {
    color: #666;
    font-size: 15px;
    font-weight: 600;
    opacity: .6;
}

.card-footer .card__author a{
    color: #3f3a64;
    font-weight: 600;
}

.card-footer .card__date p {
    color: #666;
    font-weight: 400;
    font-size: 15px;
    margin:0;
}

.card-footer a.author__name:hover {
    color:#009f4d;
    transition: all .5s;
}

.card__header a.zoom {
    overflow: hidden;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card__header a.zoom:hover img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}





